
<div class="jumboT-wrapper">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Newsies</h1>
          <p class="lead">Powered by NPR</p>
        </div>
        <button type="button" class="btn btn-primary btn-lg" type="submit" id="scrape">Scrape NPR</button>
        <button class="btn btn-primary btn-lg" type="submit" id="clear">Clear All Articles</button>    
    </div>
</div>
    <div class="container">
  
   {{#each data}}
    <div class="card"> 
      <h2 class="card-header">{{title}}</h2>
        <div class="card-body">
          <p class="card-text">Summary : {{summary}}</p>
          <a href="{{link}}" id="save" data-id="{{_id}}" class="btn btn-primary float-right">Article</a>
          <br>
          <a href="#" id="save" data-id="{{_id}}" class="btn btn-dark float-left">note</a>
          <a href="{{photo}}" id="save" data-id="{{_id}}" class="btn btn-secondary float-center">Photo</a>
      </div>
    </div>

  {{/each}}
 



</div> 

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/assets/index.js" type="text/javascript"></script>
